In [194]:
#1 Reading in the csv-files
import pandas as pd
movieData= pd.read_csv('./Data/movies.csv', dtype={'movieId': 'int32', 'title': 'str'})
ratingData = pd.read_csv('./Data/ratings.csv', dtype={'movieId': 'int32', 'title': 'str',})
movieData.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [195]:
#1.1b Most rated movies
nr_of_ratings_top_10 = ratingData["movieId"].value_counts().sort_values(ascending=False)
test = ratingData.iloc(axis=1)[:0].head(10)
for i in range(10):
    print(movieData.loc[movieData['movieId'] == nr_of_ratings_top_10.index[i]])
    print(" ")

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

     movieId                title                    genres
352      356  Forrest Gump (1994)  Comedy|Drama|Romance|War

     movieId                title                       genres
293      296  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller

     movieId                             title                 genres
587      593  Silence of the Lambs, The (1991)  Crime|Horror|Thriller

      movieId               title                  genres
2487     2571  Matrix, The (1999)  Action|Sci-Fi|Thriller

     movieId                                      title  \
257      260  Star Wars: Episode IV - A New Hope (1977)

                      genres
257  Action|Adventure|Sci-Fi

     movieId                 title                            genres
476      480  Jurassic Park (1993)  Action|Adventure|Sci-Fi|Thriller

     movieId                    title     genres
523      527  Schindler's List (1993)  Drama|War

     movieId              title            genres
108      110  Braveheart (1995)  Action|Drama|War

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [196]:
#1.1c Most rated movies
sum_of_ratings = 0
amount_of_ratings = 0
for i in range(10):
    temporary_list = ratingData[ratingData['movieId'] == nr_of_ratings_top_10.index[i]]
    sum_of_ratings += sum(temporary_list["rating"])
    amount_of_ratings += nr_of_ratings_top_10.iloc[i]
    print(f"Average rating after taken account {i+1} of the top 10 most rated movies: {sum_of_ratings/amount_of_ratings:.3}")

Average rating after taken account 1 of the top 10 most rated movies: 4.42
Average rating after taken account 2 of the top 10 most rated movies: 4.24
Average rating after taken account 3 of the top 10 most rated movies: 4.22
Average rating after taken account 4 of the top 10 most rated movies: 4.2
Average rating after taken account 5 of the top 10 most rated movies: 4.19
Average rating after taken account 6 of the top 10 most rated movies: 4.18
Average rating after taken account 7 of the top 10 most rated movies: 4.12
Average rating after taken account 8 of the top 10 most rated movies: 4.13
Average rating after taken account 9 of the top 10 most rated movies: 4.12
Average rating after taken account 10 of the top 10 most rated movies: 4.1

In [197]:
from datetime import datetime
listalist = []
testData = ratingData
#testData["timestamp"].iloc[0]
testData.drop_duplicates(subset ="movieId",
                     keep = "last", inplace = True)

for i in range(len(testData["timestamp"])):
    listalist.append(datetime.fromtimestamp(testData["timestamp"].iloc[i], tz=None).year)



testData["year"] = listalist

hej = testData["year"].value_counts()
hej

2017    12458
2018     9801
2016     8980
2015     6295
2011     2123
2014     1673
2012     1599
2013     1366
2010     1303
2009     1266
2004      847
2003      838
2006      793
2005      777
2000      660
2007      586
2008      583
2001      513
2002      481
1996      442
1997      203
1999      191
1998      111
Name: year, dtype: int64