In [3]:
#1 Reading in the csv-files
import pandas as pd
movieData= pd.read_csv('./Data/movies.csv', dtype={'movieId': 'int16', 'title': 'str'})
ratingData = pd.read_csv('./Data/ratings.csv', dtype={'movieId': 'int16', 'title': 'str',})
ratingData.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
len(ratingData)

27753444

In [8]:
# Creating a spare matrix
ratingData = ratingData.drop(ratingData["rating"] > 4)
len(ratingData)
#movie_users = ratingData.pivot(index='movieId', columns='userId', values='rating')